name: Code Quality Check

on:
  pull_request:
    branches:
      - master

jobs:
  code-quality-check:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '11'

    - name: Build with Gradle
      run: ./gradlew build

    - name: Run Code Quality Checks
      run: ./gradlew check
